* {
    box-sizing: border-box;
}

/* Style the body */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 50px;
    align-items: center;
}

/* Header/logo Title */

.header {
    padding: 25px;
    text-align: center;
    background: black;
    color: white;
}

/* Increase the font size of the heading */

/* Style the top navigation bar */

.topnavbar {
    overflow: hidden;
    background-color: #333;
    width: 100%;
}

/* Style the navigation bar links */

.topnavbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Right-aligned link */

.topnavbar a.right {
    float: right;
}

/* Change color on hover */

.topnavbar a:hover {
    background-color: #ddd;
    color: black;
}
.topnavbar .icon {
    display: none;
  }
/* Bottom navbar */

.bottomnavbar {
    overflow: hidden;
    background-color: #333;
    width: 100%;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.bottomnavbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Right-aligned link */

/* Change color on hover */

.bottomnavbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Column container */

.main {
    -ms-flex: 100%;
    /* IE10 */
    flex: 100%;
    background-color: rgb(255, 255, 255);
    padding: 25px;
    text-align: center;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

/* Footer */

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .topnavbar a:not(:first-child) {
        display: none;
    }
    .topnavbar a.icon {
        float: right;
        display: block;
    }
    .topnavbar.responsive {
        position: relative;
    }
    .topnavbar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnavbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
    .header h1 {
        font-size: 8vw;
    }
    .header p {
        font-size: 4vw;
    }
    .main {
        padding: 10px;
    }
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .card {
        width: 100%;
        height: auto;
    }
    table {
        width: 100%;
    }
    input[type=search] {
        width: 70%;
    }
    button[type=submit] {
        width: 100%;
    }
    .row-single {
        width: 100%;
    }
    .row {
        width: 100%;
    }
    .main-landing {
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 5px;
        padding-right: 5px;
    }
}

/* Responsive layout - when the screen is more than 1000px wide */

@media screen and (min-width: 601px) {
    .container {
        width: 50%;
        margin: auto;
    }
    .header h1 {
        font-size: 4vw;
    }
    .header p {
        font-size: 2vw;
    }
    .main {
        padding: 20px;
        width: 100%;
    }
    .column {
        width: 25%;
        display: block;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .column-card {
        float: center;
        width: 25%;
        padding: 0 10px;
        margin-top: 20px;
        align-items: center;
    }
    table {
        width: 80%;
    }
    input[type=search] {
        width: 40%;
    }
    button[type=submit] {
        width: 30%;
    }
    .row {
        width: 80%;
    }
    .row-single {
        width: 80%;
    }
    .main {
        -ms-flex: 100%;
        /* IE10 */
        flex: 100%;
        background-color: rgb(255, 255, 255);
        padding: 25px;
        text-align: center;
    }
    .main-landing {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 5px;
        padding-right: 5px;
    }
}

img {
    width: 80%;
    height: auto;
    max-width: 500px;
}

input[type=text], input[type=tel], input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

textarea {
    max-width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    width: 100%;
}

button[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=search] {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit]:hover {
    background-color: black;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

.col-25 {
    float: left;
    width: 30%;
}

.col-75 {
    float: left;
    width: 70%;
}


input[type=submit]:hover {
    background-color: dodgerblue;
  }
  
  .container-pr {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    margin:20px;
    
  }
  
  .container-src-pr {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 5px;
    margin:5px;
    text-align: center;
  }
  
  .primage-pr {
    width: 250px;
    height: 250px
  }
  
  .card-row-pr {
    text-align: center;
    margin: 4px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  
  .card-pr {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 5px;
    text-align: center;
    background-color: #f1f1f1;
    transition: 0.3s;
    border-radius: 5px;
  }

  .imgselection-pr {
    height: 200px;
    width: 200px;
    overflow: hidden;
    display: inline-block;
    border: 1px solid black;
  }
  
  .row-pr:after {
    content: "";
    display: table;
    clear: both;
  }

  .col-25-pr {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75-pr {
    float: left;
    width: 75%;
    margin-top: 6px;
  }

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row-single:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
    margin-top: 20px;
}

.column-card {
    float: left;
    width: 50%;
    padding: 0 10px;
    margin-top: 10px;
    align-items: center;
}

/* Remove extra left and right margins, due to padding */

input[type=checkbox] {
    /* Double-sized Checkboxes */
    -ms-transform: scale(2);
    /* IE */
    -moz-transform: scale(2);
    /* FF */
    -webkit-transform: scale(2);
    /* Safari and Chrome */
    -o-transform: scale(2);
    /* Opera */
    transform: scale(2);
    padding: 10px;
}

/* Might want to wrap a span around your checkbox text */

.checkboxtext {
    /* Checkbox text */
    font-size: 110%;
    display: inline;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 50px;
    right: 30px;
    background-color: black;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.my-float {
    margin-top: 22px;
}

@media screen and (max-width: 600px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
    .col-25-pr, .col-75-pr, input[type=submit] {
      width: 100%;
      margin-top: 0;
      padding: 10px;
    }
    .column {
      float: left;
      width: 100%;
      padding: 5px;
      margin-top: 6px;
    }
    .card-row-pr {
      grid-template-columns: repeat(2, 1fr);
    }
    p {
      font-size: 14px;
    }
    .primage-pr {
      width: 150px;
      height: 150px;
      max-height: 150px;
    }
  }
  .columnsr {
    float: left;
    width: 20%;
    padding: 0 0px;
    margin-top: 30px;
}
  